<template lang="pug">
v-slide-y-transition(mode='out-in')
	v-layout(column='', align-center='')
		img.my-3(src='/static/img/cathar-crux.svg', alt='Parlay With Alibigensians', width='100px')
		|
		v-layout(row='', wrap='')
			v-flex.text-xs-center
				v-card(style="max-width: 400px;")
					v-card-title.dignity
					h2.headline A Catholic Jihad
					.title.mb-3
						| Pilgrims Wander Aimlessly
					v-card-text
						p.body-2.text-xs-left(style="max-width: 380px")
							| Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν, νο ιγνοτα σθσcιπιαντθρ εοσ. Νονθμεσ προβατθσ vολθπτατιβθσ εαμ θτ?
						v-icon.mt-1(style='font-size: 60px;') all_inclusive

					v-card-actions
						v-flex.text-xs-center.mb-3
							v-btn(raised color="primary" to="/")
								v-icon wb_sunny
								| &nbsp;Cathars

							v-dialog
								v-btn(slot="activator", raised='', color='blue-grey lighten-2 white--text')
									v-icon wb_incandescent
									| &nbsp;Paulicians

								v-card
									v-card-title.headline.blue-grey.lighten-2.white--text(primary-title='')
										i.fa.fa-gears.fa-lg
										| &nbsp; The Word-Wild Web

									v-card-text
										| Λορεμ ιπσθμ δολορ σιτ αμετ, περ ερθδιτι σιγνιφερθμqθε ει, εθμ σολθτα ιντερεσσετ αccομμοδαρε cθ. Qθι σονετ επιcθρει ιδ. Εθ μει σαλε qθοδσι. Qθισ βρθτε μελιθσ προ νο, ατ vισ ασσθμ vερεαρ cιvιβθσ, εξ μινιμ ιθδιcαβιτ εφφιcιενδι qθο. Cασε δολορεμ προ εξ, μει μεισ εθισμοδ περτιναcια αν.


									v-divider
									|
									v-card-actions
										v-spacer
										v-btn.blue-grey.lighten-1.white--text.ma-3(@click.native='dialog = false')
											i.fa.fa-mercury.fa-2x
											| &nbsp; Entendo o Grego


</template>

<script>
  export default {
    data () {
      return {
        dialog: false
      }
    }
  }
</script>
