<template lang="pug">
	v-slide-y-transition(mode='out-in')
		v-layout(column='', align-center='')
			img.my-3(src='/static/img/cathar-crux.svg', alt='Parlay With Alibigensians', width='100px')
			v-layout(row='', wrap='')
				v-flex(d-flex='' xs12='')

					v-card.pa-3.text-xs-center(style="max-width: 400px;")
						v-card-title.dignity
						h2.headline Patiently, With Aplomb
						.title.mb-3
							| A PWA for Parlaying With Albigensians

						v-card-text
							p.body-2.text-xs-left(style="max-width: 380px")
								| Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν, νο ιγνοτα σθσcιπιαντθρ εοσ. Νονθμεσ προβατθσ vολθπτατιβθσ εαμ θτ?
							v-icon.mt-1(style='font-size: 60px;') all_inclusive

						v-card-actions
							v-flex.text-xs-center.mb-3
								v-btn(raised color="primary" to="/")
									v-icon wb_sunny
									| &nbsp;Cathars
								v-btn(to="/", raised='', color='blue-grey lighten-2 white--text')
									v-icon wb_incandescent
									| &nbsp;Paulicians
</template>

<script>
export default {
  name: 'home'
}
</script>
