<template lang="pug">
v-app.dignity(light)
  v-navigation-drawer(:clipped='clipped', v-model='drawer', enable-resize-watcher app style='overflow: hidden;')
    v-toolbar(flat)
      v-list
        v-list-tile(style='padding-y: 15px;')
          v-list-tile-title.title.dignity
            i.fa.fa-gears.fa-lg
            | &nbsp; Navegar &eacute; Preciso

    v-list.pt-0.dignity(dense @click='drawer = false')
      v-list-tile.white.black--text(router v-for='item in items', :key='item.title', @click='redirect(item.route)', active-class='blue-grey darken-2 white--text', style='overflow: hidden;')
        v-list-tile-action
          v-icon {{ item.icon }}

        v-list-tile-content
          v-list-tile-title
            | {{ item.title }}

  v-toolbar(fixed app :clipped-left='clipped')
    v-toolbar-side-icon(@click.stop='drawer = !drawer', light)

    span
      v-icon(large) fa-gears

    v-toolbar-title.ml-3(v-text='title')

    v-spacer

    span.mr-20.dignity.hidden-md-and-down
      v-icon network_check
      | &nbsp;  Network Status | {{ networkStatus }}

  main
    v-content
      v-container(fluid)
        router-view

  v-footer(:fixed='fixed', app)
    span.copyright
      v-icon rowing
      |  Clonado na Samboja 2018 pelo Gran Bret&ocirc;nio e honi soit qui mal y pense
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          { title: 'In Principio', icon: 'ring_volume', route: 'home' },
          { title: 'In Media Res', icon: 'all_inclusive', route: 'list' },
          { title: 'The Cathar Cross', icon: 'accessible_forward', route: 'catharism' },
          { title: 'The Valentians', icon: 'view_headline', route: 'valentianism' },
          { title: 'Arianism', icon: 'autorenew', route: 'arianism' },
          { title: 'Docetism', icon: 'import_export', route: 'docetism' },
          { title: 'Luciferianism', icon: 'view_quilt', route: 'luciferians' },
          { title: 'The Manichaeans', icon: 'fa-transgender', route: 'manichaeism' },
          { title: 'Monothelitism', icon: 'fa-motorcycle', route: 'monothelitism' },
          { title: 'Nestorianism', icon: 'fa-mercury', route: 'nestorianism' },
          { title: 'Sabellianism', icon: 'fa-venus', route: 'sabellianism' },
          { title: 'Monarchianism', icon: 'directions_transit', route: 'monarchianism' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Engenho Novo PWA Two',
        networkStatus: null
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    },
    methods: {
      redirect (routeName) {
        this.$router.push({ name: routeName })
      },
      fetchData () {
        this.networkStatus = navigator.onLine ? 'Online' : 'Offline'
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'

  footer span.copyright {

  }

  footer span.copyright a {
    text-decoration: none;
  }
</style>
